html {
    background-color: #1e1e23;
    color: #ffffff;
    font-family: "Oxanium", sans-serif;
    font-size: 13px;
    background-image: url("./assets/imperial_ships.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: none;
}

h1 {
    color: #aa82ff;
}

/* 
Theme Colors:
Bright purple: #aa82ff
Bright orange: #ffc000 
*/

:root {
    font-family: "Oxanium", sans-serif;
    --font-family: "Oxanium", sans-serif;
}

/* Set PrimeReact table background to prevent background image
showing through the currently highlighted row instead of the color */
.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #54447b;
}

/* Fix PrimeReact issue with highlighted frozen column being transparent
and showing other column headers through it when horizontally scrolling */
.p-datatable .p-sortable-column.p-highlight {
    background: #3e3b55;
}
