html {
    background-color: #1e1e23;
    color: #ffffff;
    font-family: "Oxanium", sans-serif;
    font-size: 13px;
    background-image: url("./assets/imperial_ships.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: none;
}

h1 {
    color: #aa82ff;
}

/* 
Theme Colors:
Bright purple: #aa82ff
Bright orange: #ffc000 
*/

:root {
    font-family: "Oxanium", sans-serif;
    --font-family: "Oxanium", sans-serif;
}

/* Example overriding the default for all DataTables (use with caution) */
.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #54447b;
}
